* {
  /*Seletor universal, bom costume zerar margin e padding para tirar o padrão do navegador */
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(5, 5, 5);
  height: 100px;
}

.leftsideheader {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.profile {
  width: 100px;
  border-radius: 50px;
}

.btnsection {
  position: absolute;
  margin-top: 15px;
  right: 5%;
  display: block;
  padding: 20px;
  color: white;
}

.btn {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(150, 3, 150, 0.842);
  margin-right: 5px;
}

.btn:hover {
  background-color: azure;
  color: rgba(150, 3, 150, 0.842);
}
