:root {
  --bgdarkHome: #343434;
  --bglightHome: #c9d2e4;
  --fontLightHome: #2033c7;
  --fontDarkHome: white;
}

.light-home {
  background-color: var(--bglightHome);
  height: 100vh;
  transition: 1s;
}

.dark-home {
  background-color: var(--bgdarkHome);
  height: 100vh;
  transition: 1s;
}

.light-bar {
  margin: auto;
  margin-top: 20px;
  width: 70%;
}

.dark-bar {
  margin: auto;
  margin-top: 20px;
  width: 70%;
}

.title-container {
  display: flex;
  margin: auto;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
}

.light-title-name {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
  color: var(--fontLightHome);
  text-align: center;
}

.dark-title-name {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
  color: var(--fontDarkHome);
  text-align: center;
}

.light-title-p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #116347c9;
  margin-bottom: 15px;
}
.dark-title-p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #3ab898dc;
  margin-bottom: 15px;
}

.light-subtitle {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #2c42e7;
  margin-bottom: 15px;
}
.dark-subtitle {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
  color: rgb(212, 208, 208);
  margin-bottom: 15px;
}

.fadein5 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.fadein10 {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.fadein15 {
  animation-duration: 1.5s;
  animation-name: animate-fade;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.fadein20 {
  animation-duration: 2s;
  animation-name: animate-fade;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
