.icons {
  gap: 10px;
}

.icons-container {
  display: flex;
  gap: 10px;
  bottom: 120px;
  right: 2px;
}

.icon {
  zoom: 1.5;
  margin-right: 15px;
  color: white;
  transition: 0.5s;
}

a:visited {
  color: black;
}

.instagram:hover {
  color: rgb(255, 102, 0);
}

.linkedin:hover {
  color: rgb(0, 60, 255);
}

.github:hover {
  color: rgb(108, 198, 68);
}
