:root {
  --bgdarkHome: #343434;
  --bglightHome: #c9d2e4;
  --fontLightHome: #2033c7;
  --fontDarkHome: white;
}

.home-container {
  background-image: url("../images/bgPorfolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.side {
  width: 25%;
}

.home {
  width: 75%;
  margin: auto;
}

.title-container {
  display: flex;
  margin: auto;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
}

.title-name {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
  color: var(--fontDarkHome);
  text-align: center;
}

.title-p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #4fc3a6;
  margin-bottom: 15px;
}

.subtitle {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
  color: rgb(212, 208, 208);
  margin-bottom: 15px;
}

.fadein5 {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.fadein10 {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.fadein15 {
  animation-duration: 1.5s;
  animation-name: animate-fade;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.fadein20 {
  animation-duration: 2s;
  animation-name: animate-fade;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
